

<h1>PRODUCTSSSSS</h1>


<ul>
<% @products.each do |product| %>
<li> 
<%= link_to "show me da monaayyyy", product_path(product.id) %>
<%= product.prodName %> <br>
<%= product.prodDesc %> <br>
<%= product.unitPrice %>
</li>

<%= form_tag("/add_item/#{product.id}") do %>
    <%= submit_tag 'Add to cart' %>
<% end %>

<% end %>
</ul>

