<body>
	<div class="back">
		<br><br><br><br>
		<h1 class="display-4 text-center text-white">Spillin' Beans</h1>
		<br>
		<div class="container-fluid">
			<div class="card-deck">
				<div class="card">
					<img class="card-img-top" src="https://s3-us-west-1.amazonaws.com/paperclipp/users/images/000/000/001/original/Noc.jpg">
					<div class="card-body">
						<div class="h2 text-center">
							<%= @products.find_by(id: 1).prodName %>
						</div>
						<div class="lead text-center text-muted">
							<em><%= @products.find_by(id: 1).prodDesc %></em>
						</div>
						<div class="lead text-center">
							$<%= @products.find_by(id: 1).unitPrice %>0
						</div><%= form_tag("/add_item/1") do %><br>
						<%= submit_tag("Add to cart", :class => "btn btn-outline-dark btn-block" ) %> <%end %><br>
						<div class="text-center">
							<%= link_to "Details", product_path(@products.find_by(id: 1)) %>
						</div>
					</div>
				</div>
				<div class="card">
					<img class="card-img-top" src="https://s3-us-west-1.amazonaws.com/paperclipp/users/images/000/000/001/original/blkeye.jpg">
					<div class="card-body">
						<div class="h2 text-center">
							<%= @products.find_by(id: 2).prodName %>
						</div>
						<div class="lead text-center text-muted">
							<em><%= @products.find_by(id: 2).prodDesc %></em>
						</div>
						<div class="lead text-center">
							$<%= @products.find_by(id: 2).unitPrice %>0
						</div><%= form_tag("/add_item/2") do %><br>
						<%= submit_tag("Add to cart", :class => "btn btn-outline-dark btn-block" ) %> <%end %><br>
						<div class="text-center">
							<%= link_to "Details", product_path(@products.find_by(id: 2)) %>
						</div>
					</div>
				</div>
				<div class="card">
					<img class="card-img-top" src="https://s3-us-west-1.amazonaws.com/paperclipp/users/images/000/000/001/original/allnight.jpg">
					<div class="card-body">
						<div class="h2 text-center">
							<%= @products.find_by(id: 3).prodName %>
						</div>
						<div class="lead text-center text-muted">
							<em><%= @products.find_by(id: 3).prodDesc %></em>
						</div>
						<div class="lead text-center">
							$<%= @products.find_by(id: 3).unitPrice %>0
						</div><%= form_tag("/add_item/3") do %><br>
						<%= submit_tag("Add to cart", :class => "btn btn-outline-dark btn-block" ) %> <%end %><br>
						<div class="text-center">
							<%= link_to "Details", product_path(@products.find_by(id: 3)) %>
						</div>
					</div>
				</div>
				<div class="card">
					<img class="card-img-top" src="https://s3-us-west-1.amazonaws.com/paperclipp/users/images/000/000/001/original/rude2.jpg">
					<div class="card-body">
						<div class="h2 text-center">
							<%= @products.find_by(id: 4).prodName %>
						</div>
						<div class="lead text-center text-muted">
							<em><%= @products.find_by(id: 4).prodDesc %></em>
						</div>
						<div class="lead text-center">
							$<%= @products.find_by(id: 4).unitPrice %>0
						</div><%= form_tag("/add_item/4") do %><br>
						<%= submit_tag("Add to cart", :class => "btn btn-outline-dark btn-block" ) %> <%end %><br>
						<div class="text-center">
							<%= link_to "Details", product_path(@products.find_by(id: 4)) %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
