<body>
	<div class="back">
		<br><br><br><br>
		<h1 class="display-4 text-center text-white">Shopping Cart</h1>
		<br>
<table class="table w-75 mx-auto bg-white table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Keep?</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |line| %>
      <tr>
        <td scope="row">
          <%= Product.find(line.product_id).prodName %>
        </td>
        <td><%= line.quantity %></td>
        <td><%= form_tag("/remove_item/#{line.id}") do %>
        <%= submit_tag("Remove", :class => "btn btn-secondary btn-sm" ) %>
        </td>
      </tr>
        <% end %>
      <% end %>
  </tbody>
 </table>
<div class="text-center mx-auto">
  <%= form_tag("/purchase/active_order") do %>
  <%= submit_tag("Take my Money!", :class => "btn btn-light btn-lg" ) %>
  <% end %>
</div>
</body>